@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

:root {
    --font-family: 'Mulish', sans-serif;
    --bg-color: #040d12;
    --primary-color: #eeeeee;
    --secundary-color: #404258;
}

* {
    margin: 0;
    font-family: var(--font-family);
}

body {
    background-color: var(--bg-color);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

#form {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#form input {
    text-align: center;
    border-radius: 10px;
}

fieldset {
    border-radius: 10px;
}

#titulo {
    color: var(--primary-color);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

#cimento {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

#frete,
#telha {
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
}

.venda {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 30px;
    box-shadow: 3px 3px var(--secundary-color);
}

.tem {
    text-align: center;
    width: 300px;
}

.pagamento {
    text-align: center;
    width: 300px;
}

#prazo {
    margin-left: 15px;
}

#bol {
    margin-left: 15px;
}

#resultado {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
    height: 200px;
    display: flex;
    align-items: center;
}

/* BOTÕES */

#botoes {
    position: absolute;
    bottom: 6px;
}

#btn_final {
    position: sticky;
    bottom: 6px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
/*
#botoes input,
button {
    height: 5vh;
    width: 30vw;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 29px 29px 58px #a6a6a6, -29px -29px 58px #ffffff;
}
 */
button a {
    text-decoration: none;
    color: var(--primary-color);
}

/* TABELA COM VALORES */

.tabela {
    margin-top: 100vh;
    margin-bottom: 30vw;
    height: 100vh;
    text-transform: uppercase;
    padding-top: 30px;
    color: var(--primary-color);
}

.tabela fieldset {
    width: 80vw;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#tabela {
    text-align: center;
    margin: auto;
    width: 80vw;
}

#tabela-body tr:nth-child(odd) {
    background-color: var(--secundary-color);
}

#tabela th {
    font-size: 30px;
}

#tabela_texto {
    font-size: 20px;
    font-weight: bold;
}

#tabela-foot {
    font-size: 20px;
    font-weight: bolder;
    color: var(--primary-color);
    height: 50px;
}

.btn_x {
    width: 25px;
    height: 25px;
    margin-bottom: 7px;
}

/* CONFIGURAÇÃO DE BOTÃO EXTERNA */
.btn {
    font-family: monospace;
    font-size: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background: var(--bg-color);
    box-shadow: 3px 3px var(--primary-color);
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
